<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Admin page</title>
    <style>
        button {
            margin: 10px 0 10px 0;
        }

        table {
            width: 100%;
            margin: 20px 0 20px 0;
            border: 1px solid #dddddd;
            border-collapse: collapse;
        }

        table th {
            font-weight: bold;
            padding: 5px;
            background: #efefef;
            border: 1px solid #dddddd;
        }

        table td {
            border: 1px solid #dddddd;
            padding: 5px;
        }
    </style>
</head>
<body>
<form th:action="@{/user/logout}" th:method="GET">
    <button type="submit">Log out</button>
</form>

<a th:href="@{/admin/users}">
    <button>
        Управление пользователями
    </button>
</a>
<h2 th:text="${loginUser.getFirstName()} + ', добро пожаловать!'"></h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Username</th>
        <th>Roles</th>
    </tr>
    <tr th:object="${loginUser}">
        <td th:text="${loginUser.getId()}"></td>
        <td th:text="${loginUser.getFirstName()}"></td>
        <td th:text="${loginUser.getLastName()}"></td>
        <td th:text="${loginUser.getAge()}"></td>
        <td th:text="${loginUser.getUsername()}"></td>
        <td>
            <span th:each="role : ${loginUser.getRoles()}" th:text="${role.getName()} + '; '"></span>
        </td>
    </tr>
</table>


</body>
</html>